<% html_title t(:user_import) -%>
<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'imoprter', :plugin => 'redmine_user_import' %>
<% end %>

<%= title [l(:label_user_plural), users_path], [l(:user_import), {:action => :index}], l(:label_import_result) %>
<p><%= t(:label_result_notice, { :handle_count => @handle_count, :success_count => @handle_count - @failed_count } ) %></p>

<% if not @messages.empty? %>
  <hr/>
  <h3><%= l(:label_result_messages) %></h3>
  <ul>
  <% @messages.each do |m| %>
    <li><%= m %></li>
  <% end %>
  </ul>
<% end %>

<hr/>

<% if @failed_count > 0 %>
  <h3><%= t(:label_result_failed, { :count => @failed_count } ) %></h3>
<table class="list">
    <thead><tr>
        <th>#</th>
        <% @headers.each do |column| %>
          <th><%= column %></th>
        <% end %>
    </tr></thead>
    <tbody>
    <% @failed_rows.each do |id, row| -%>
    <tr class="<%= cycle("odd", "even") %>">
        <td><%= id %></td>
        <% row.each do |column| %><%= content_tag 'td', column[1] %><% end %>
    </tr>
    <% end %>
    </tbody>
</table>
<% end %>
