<% content_for :header_tags do %>
  <%= stylesheet_link_tag "users_xlsie.css", :plugin => UIEX_AssetHelpers::PLUGIN_NAME.to_s, :media => "screen" %>
<% end %>

<%= title [l(:label_user_plural), users_path], l(:label_users_xlsie_caption) %>

<%= form_tag({:action => 'import_results'}, {:multipart => true, :id => 'import_options_form' }) do %>
  <fieldset class="box"><legend><%= l(:label_users_xlsie_legend_columns) %></legend>
    <% @xls_columns.each do |column| %>
      <label class="uxlsie_tabular2"><%= h(column[0]) %>:</label>
        <%= select_tag "xls_columns_map[#{column[1]}]", uxlsie_get_column_options(column[1].to_i,column[0]) %>
      <br/>
    <% end %>
  </fieldset>

  <fieldset class="box"><legend><%= l(:label_users_xlsie_legend_ioptions) %></legend>
    <label class="uxlsie_tabular2"><%= l(:label_users_xlsie_opt_update_only) %></label>
    <%= select_tag("update_only", uxlsie_get_update_options) %><br/>
    <label>
      <%= check_box_tag("send_user_info",1,true) %>
      <%= l(:label_users_xlsie_opt_send_info) %>
    </label>
  </fieldset>

  <%= submit_tag l(:label_users_xlsie_button_back), :name => 'back_to_import' %>
  <%= submit_tag l(:label_users_xlsie_button_validate) %>
  <%= submit_tag l(:label_users_xlsie_button_import), :name => 'create_imported_users' %>
  <a id="preview_link" accesskey="<%= accesskey(:preview) %>"><%= l(:label_preview) %></a>
<script type="text/javascript">
$(function() {
  $("#preview_link").bind("click", function() {
    var params = $("#import_options_form").serialize();
    $.post('<%= raw url_for( { :controller => 'users_xls_impex', :action => 'import_preview' } ) %>', params, function(data) {
      $("#preview").html(data);
      $("#preview").offset().top;
    });
    return false;
  });
});
</script>
  <a id="template_help_link" accesskey="<%= accesskey(:preview) %>"><%= l(:label_users_xlsie_templates_help) %></a>
<script type="text/javascript">
$(function() {
  $("#preview_link").bind("click", function() {
    var params = $("#import_options_form").serialize();
    $.post('<%= raw url_for( { :controller => 'users_xls_impex', :action => 'import_preview', :mode => 'help' } ) %>', params, function(data) {
      $("#preview").html(data);
      $("#preview").offset().top;
    });
    return false;
  });
});
</script>
<% end %>

<div id="preview" class="wiki"></div>

